* {
    box-sizing: border-box;
  }

body {
    background-color: black;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    border-radius: 10px 10px 0 0;
    height: 70px;
}

.navbar-image {
    width: 40px;
    height: 40px;
}

.navbar-image:hover {
    opacity: .5;
}

.nav-item {
    display: flex;
    margin-right: 20px;
}

#nav-link {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

#nav-link:hover {
    opacity: .5;
}

#links-container {
    margin-left: 20px;
}


.login-button {
    width: 95px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(114, 2, 2);
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border: none;
    padding: 0;
}

.login-button:hover {
    opacity: .5;
}

.navbar-game-selection-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(43, 42, 42);
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.about-area {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    background-color: rgba(72, 2, 1, 1);
}

.about-heading {
    color: rgb(245, 206, 26);
    text-shadow: 2px 2px 4px #000000;
}

.about-subheading {
    font-size: 20px;
    color: white;
}

.about-content {
    margin-right: 30px;
}

.about-information {
    margin-top: 20px;
    color: white;
}

.twitch-link {
    font-weight: 600;
    color: rgb(245, 206, 26);
}

.twitch-link:hover {
    opacity: .5;
}

#twitch-link:hover {
    text-decoration: none;
}

.division-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.division-heading {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000;
}

.division-heading:hover {
    opacity: .5;
}

.division-2, .division-3 {
    margin-top: 50px;
}

.division-3 {
    margin-bottom: 50px;
}

.teams {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-logo {
    margin-right: 30px;
    width: 100px;
    height: 100px;
}

.gallery-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: rgba(72, 2, 1, 1);
}

.gallery-heading {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: white;
    text-decoration: underline;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.gallery-heading:hover {
    opacity: .5;
}

.gallery {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.gallery-image {
    margin-right: 30px;
    width: 230px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 6px 5px 1px rgba(0, 0, 0, 0.75);
}

.merch-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.merch-heading {
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000;
}

.merch-heading:hover {
    opacity: .5;
}

.merch-image {
    margin-top: 50px;
}

.merch-contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.merch-contact-heading {
    color: white;
}

.merch-information {
    color: white;
}

.merch-email {
    color: white;
}

.merch-email:hover {
    opacity: .5;
}

.merch-email:hover {
    text-decoration: none;
    color: white;
}

.merch-number {
    margin-top: 10px;
    color: white;
}

.footer-container {
    margin-top: 60px;
}

.footer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 2, 1, 1);
}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-end {
    font-weight: 600;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}

.social {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.social:hover {
    opacity: .5;
}

/* Gallery page css */

.gallery-image-heading, .division-image-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 90px;
    background-color: rgba(72, 2, 1, 1);
    padding-bottom: 10px;
}

.gallery-heading-center, .division-heading-center {
    margin-left: 50px;
}

.gallery-heading-image, .division-heading-image {
    margin-right: 50px;
}

#gallery-heading-image, #division-heading-image {
    margin-left: 50px;
    width: 70px;
    height: 70px;
}

.gallery-main-heading, .division-main-heading {
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
}

.gallery-heading-info, .division-heading-info {
    margin-bottom: 0px;
}

.gallery-heading-instruction, .division-heading-instruction {
    color: rgb(245, 206, 26);
    font-weight: 600;
}

.bd-example {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.gallery-images-area {
   padding-top: 50px;
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 20px;
}

.gallery-images {
    border: 1px solid rgb(245, 206, 26);
}

/* divisions area */

.division-league-heading {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.division-standing-area {
    margin-top: 50px;
}

.league-champions-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    text-decoration: underline;
    font-size: 30px;
}

.league-champions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.league-champion-date {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 15px;
    font-weight: 600;
}

.league-champion-logos {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(72, 2, 1, 1);
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
  }
  
.league-team {
    width: 300px;
}

.league-games-played, .league-wins, .league-fastestGG, .league-losses, .league-total {
    width: 50px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
    border-radius: 10px;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }

  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #expandedImg {
      border-radius: 10px;
      padding-bottom: 20px;
  }

  #headingOne, #headingTwo, #headingThree {
      margin-left: 39.5%;
      width: 400px;
      text-align: center;
      background-color: rgba(72, 2, 1, 1);
      border-radius: 10px;
  }

  .division-league-heading:hover {
      color: rgb(245, 206, 26);
  }

  #btn-link {
      color: white;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;
      text-shadow: 2px 2px 4px #000000;
  }

  #btn-link:hover {
      text-decoration: none;
      color: rgb(245, 206, 26);
  }

  #accordionExample {
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .card {
      border: none; 
      margin-bottom: 50px;
      background-color: black;
  }

  .card-body {
      background-color: black;
  }



  

